/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 03/11/2018, 06:19:14 PM
    Author     : Chris
*/

*{
    /*Color base, el mas oscuro*/
    -fx-pallet-color1: #110c0d;
    /*Color secundario, un poco mas claro*/
    -fx-pallet-color2: #262122;
    /*Color para detalles, el mas encendido*/
    -fx-pallet-color3: #af0a0a;
    
    -fx-text-ligh-color: #bcbcbc;
    -fx-text-pallet-color: #af0a0a;
    -fx-text-dark-color: black;
    
}

/*Contenedores*/
.background-pane {
    -fx-background-color: -fx-pallet-color1;
}

.details-Pane {
    -fx-background-color: -fx-pallet-color2;
}

/*Botones*/
.pallet-button {
    -fx-text-fill: -fx-text-ligh-color;
    -fx-font-size: 15px;
    -jfx-button-type: RAISED;
    -fx-graphic-text-gap: 10px;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

.pallet-button .glyph-icon {
    -fx-fill: -fx-text-ligh-color;
}

.pallet-button:hover{
    -fx-text-fill: -fx-text-pallet-color;
}

.pallet-button:hover .glyph-icon{
    -fx-fill: -fx-text-pallet-color;
}

.pallet-button .jfx-rippler {
    -jfx-rippler-fill: -fx-text-ligh-color;
}

.admin-menu-option{
    -fx-background-color: derive(-fx-pallet-color2, 75%);
    -fx-text-fill: -fx-pallet-color1;
    -fx-font-size: 15px;
    -jfx-button-type: RAISED;
    -fx-graphic-text-gap: 10px;
    -fx-alignment: CENTER;
    -fx-text-alignment: CENTER;
}

.admin-menu-option .glyph-icon {
    -fx-fill: -fx-pallet-color1;
}

.admin-menu-option:hover{
    -fx-text-fill: -fx-text-pallet-color;
}

.admin-menu-option:hover .glyph-icon{
    -fx-fill: -fx-text-pallet-color;
}

.admin-menu-option .jfx-rippler {
    -jfx-rippler-fill: -fx-pallet-color2;
}

/*Toggle Button*/
.admin-toggle-button {
    -fx-text-fill: -fx-text-ligh-color;
    -jfx-toggle-color: -fx-pallet-color3;
    -jfx-untoggle-color: white;
    -jfx-untoggle-line-color: -fx-text-ligh-color;
}

/*Labels*/
.label{
    -fx-text-fill: -fx-text-ligh-color;
}

/*Text Fill*/
.admin-text-field {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-ligh-color;
    -fx-prompt-text-fill: -fx-text-ligh-color;
    -jfx-focus-color: -fx-pallet-color3;
    -jfx-unfocus-color: -fx-text-ligh-color;
}

/*List View*/
.customListView{
    -fx-background-color: transparent;
    -fx-border-color: -fx-pallet-color2;
    -fx-border-width: 2px;
}

.customListView .list-cell {
    -fx-padding: 0px;
    -fx-background-color: -fx-pallet-color2;
}

.customListView .list-cell:odd {
    -fx-background-color: derive(-fx-pallet-color2,10%);
}

.customListView .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(derive(-fx-pallet-color3,10%) 100%, derive(-fx-pallet-color3,30%) 75%);
}

.customListView .list-cell .jfx-rippler {
    -jfx-rippler-fill: -fx-pallet-color3;
}

/*Combo Box*/
.admin-combo-box {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-ligh-color;
    -fx-prompt-text-fill: -fx-text-ligh-color;
    -jfx-focus-color: -fx-pallet-color3;
    -jfx-unfocus-color: -fx-text-ligh-color;
}

.admin-combo-box .list-cell {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-ligh-color;
    -fx-padding: 0px;
}

.combo-box-popup .list-view {
    -fx-background-color: -fx-text-ligh-color, -fx-text-ligh-color;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.combo-box-popup .list-view .list-cell {
    -fx-padding: 6 6 6 6;
    -fx-background-color: -fx-pallet-color2;
    -fx-text-fill: -fx-text-ligh-color;
    /*No alternate highlighting*/ 
    /*-fx-background-color: white;*/
}

.combo-box-popup .list-view .list-cell:odd {
    -fx-padding: 6 6 6 6;
    -fx-background-color: derive(-fx-pallet-color2,10%);
    -fx-text-fill: -fx-text-ligh-color;
    /*No alternate highlighting*/ 
    /*-fx-background-color: white;*/
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-padding: 6 6 6 6;
    -fx-background-color: -fx-pallet-color3;
    -fx-text-fill: -fx-text-dark-color;
}

.combo-box-popup .list-view .list-cell:hover {
    -fx-padding: 6 6 6 6;
    -fx-text-fill: -fx-text-pallet-color;
}

/*Check Box*/
.admin-check-box {
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-ligh-color;
    -fx-graphic-text-gap: 10px;
}

.admin-check-box .glyph-icon {
    -fx-fill: -fx-text-ligh-color;
}

/*Spinner*/
.spinner .text-field{
    -fx-background-color: -fx-pallet-color1;
    -fx-border-color: -fx-text-ligh-color;
    -fx-border-radius: 2;
    -fx-border-width: 2px;
    -fx-text-fill: -fx-text-ligh-color;
}

.spinner:focused .text-field{
    -fx-background-color: -fx-pallet-color1;
    -fx-border-color: -fx-text-pallet-color;
    -fx-border-radius: 2;
    -fx-border-width: 2;
    -fx-text-fill: -fx-text-ligh-color;
}

/*TabePane*/
.tab{
    -fx-background-color: -fx-pallet-color2;
    -fx-pref-width: 200;
    -fx-pref-height: 45;
}

.tab-label{
    -fx-text-fill: -fx-text-ligh-color;
}

.tab-label:hover{
    -fx-text-fill: -fx-pallet-color3;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -fx-pallet-color3;
    -fx-pref-height: 3;
}

.jfx-tab-pane .tab-header-area .jfx-rippler {
    -jfx-rippler-fill: -fx-text-ligh-color;
}

.tab-header-background{
    -fx-background-color: -fx-pallet-color2;
}

/*ScrollPane*/
.scroll-pane {  
    -fx-background-color: -fx-pallet-color1;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
    -fx-pref-tile-width: 3;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color :transparent;
    -fx-border-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-border-radius :2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 10.0 0.0;

}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 10.0 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.15em 0.0 0.0 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.15em 0.0 0.0;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color : derive(-fx-text-ligh-color, -25%);
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : derive(-fx-pallet-color3, -25%);
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

.scroll-bar:horizontal .thumb:pressed,
.scroll-bar:vertical .thumb:pressed {
    -fx-background-color : -fx-pallet-color3;
    -fx-background-radius: 5;
    -fx-border-color: black;
    -fx-border-radius: 5;
    -fx-border-width: 1;
}

/*Date Picker*/
.admin-date-picker{
    -jfx-default-color: -fx-pallet-color3;
    -fx-background-color: -fx-pallet-color2;
}

.admin-date-picker .text-field{
    -fx-font-size: 15px;
    -fx-text-fill: -fx-text-ligh-color;
    -fx-fill: -fx-text-ligh-color;
    -fx-prompt-text-fill: -fx-text-pallet-color;
    -jfx-focus-color: -fx-pallet-color3;
    -jfx-unfocus-color: -fx-text-ligh-color;
}

.admin-date-picker,
.admin-date-picker:focused,
.admin-date-picker:focused:editable {
    -fx-background-color: TRANSPARENT, TRANSPARENT, TRANSPARENT, TRANSPARENT;
}

.admin-date-picker > .arrow-button,
.admin-date-picker:editable > .arrow-button,
.admin-date-picker:focused > .arrow-button,
.admin-date-picker:editable:focused > .arrow-button{
    -fx-background-color: TRANSPARENT;
    -fx-padding: 1 8 1 8;
}

.admin-date-picker > .arrow-button > .jfx-svg-glyph{
    -fx-background-color: -fx-text-ligh-color;
}

.date-picker-popup > * > .spinner {
    -fx-spacing: 0.25em;
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-background-color: transparent;
}

.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 275.0;
    -fx-pref-height: 200.0;
}