/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11/11/2018, 06:12:21 AM
    Author     : Chris
*/

*{
    /*Color base, el mas oscuro*/
    -fx-pallet-color1: #110c0d;
    /*Color secundario, un poco mas claro*/
    -fx-pallet-color2: #262122;
    /*Color para detalles, el mas encendido*/
    -fx-pallet-color3: #af0a0a;
    
    -fx-text-ligh-color: #bcbcbc;
    -fx-text-pallet-color: #af0a0a;
    -fx-text-dark-color: black;
}

.background-pane {
    -fx-background-color: -fx-pallet-color1;
}

.details-Pane {
    -fx-background-color: -fx-pallet-color2;
}

.toolbar-Pane {
    -fx-background-color: -fx-pallet-color2;
}