/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/10/2018, 08:52:59 PM
    Author     : robri
*/

*{
    /*root*/
    -fx-base-color-root: transparent;
    -fx-base-color-card: transparent;
    -fx-base-color-card-hover: derive(black,0.2);

    /*buttons*/
    -fx-base-color-but:#FF0A0A;
    -fx-base-color-but-border: transparent;
    -fx-base-color-but2:transparent;
    -fx-base-color-but2-border: white;
    -fx-base-color-but-tf:white;
    -fx-base-color-but-hover:#FF0A0A;
    -fx-base-color-but2-hover:transparent;
    -fx-base-color-but-tf-hover:white;
    
    /*separator*/
    -fx-base-color-sep:transparent;
    
    /*hyperlink*/
    -fx-base-color-hyper-tf:white;
    -fx-base-color-hyper-tf-focus:#FF0A0A;
    
    /*scroll pane*/
    -fx-base-color-scroll-pane:transparent;
    -fx-base-color-scroll-bar:transparent;
    -fx-base-color-scroll-bar-thumb:transparent;
    -fx-base-color-scroll-bar-track:transparent;
    
    /*text area*/
    -fx-base-color-text-area:transparent;
    -fx-base-color-text-area-tf:white;
    
    /*font awesome*/
    -fx-base-color-glyph-hover: #FF0A0A;
    -fx-base-color-glyph: white; 
    -fx-base-color-campo-butaca:white;
    -fx-base-color-campo-butaca-hover:#2B2B2B;
    -fx-base-color-campo-butaca-sel:green;
    -fx-base-color-campo-butaca-oc:#FF0A0A;
    
    -fx-base-color-hb:#272727;
}

#root{
    -fx-background-color: -fx-base-color-root;
}

.info-root{
    -fx-background-color: black;
    -fx-opacity: 0.8;
}

.jfx-button{
    -jfx-button-type:FLAT;
    -fx-background-color: -fx-base-color-but;
    -fx-text-fill: -fx-base-color-but-tf;
    -fx-border-radius: 30,30,30,30;
}

.jfx-button:hover{
    -fx-background-color: -fx-base-color-but-hover;
    -fx-text-fill: -fx-base-color-but-tf-hover;
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
}

/*todo*/
 .separator{
    /*-fx-orientation: vertical; */
    -fx-border-style: none;
    -fx-background-color: transparent;
}

.separator .line {
    -fx-border-style: solid;
    -fx-border-width: 1; 
    -fx-border-: 0; 
    -fx-border-color: -fx-base-color-sep;
}

.hyperlink{
    -fx-font-size: 15; 
    -fx-alignment: center;
    -fx-text-fill: -fx-base-color-hyper-tf;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.hyperlink:hover{
    -fx-text-fill: -fx-base-color-hyper-tf-focus;
}

.scroll-pane{
     -fx-background-color: -fx-base-color-scroll-pane;
}

.scroll-bar:horizontal,.scroll-bar:vertical{
    -fx-background-color: -fx-base-color-scroll-bar;
}

.scroll-bar:horizontal .track,.scroll-bar:vertical .track{
    -fx-background-color: -fx-base-color-scroll-bar-track;
}

.scroll-bar:horizontal .thumb,.scroll-bar:vertical .thumb {
    -fx-background-color: -fx-base-color-scroll-bar-thumb;
    -fx-background-radius: 5em;
}

.jfx-scroll-pane{
    -fx-background-color:-fx-base-color-scroll-pane;
}

.jfx-scroll-bar:horizontal,jfx-scroll-bar:vertical{
    -fx-background-color:-fx-base-color-scroll-bar;    
}

.label{
    -fx-font-size: 15;
    -fx-text-fill: white;
}

.label-small{
    -fx-font-size: 10;
    -fx-text-fill: white;
    -fx-opacity: 0.7;
}

.lbl-cine{
    -fx-font-size: 20;
    -fx-text-fill: white;
}

.card{
    
}

.card:hover{
    -fx-scale-x: 1.2;
    -fx-scale-y: 1.2;
    -fx-background-color:-fx-base-color-card-hover;
}

.jfx-text-area {
    /*-fx-font-family: Consolas;*/
    -fx-font-size: 15;
    -fx-text-fill: -fx-base-color-text-area-tf;
    -fx-display-caret:true;
}

.jfx-text-area .content {
    -fx-background-color: -fx-base-color-text-area;
}

.jfx-text-area:disabled {
    /*-fx-font-family: Consolas;*/
    -fx-opacity:1;
    -fx-font-size: 15;
    -fx-text-fill: -fx-base-color-text-area-tf;
    -fx-display-caret:true;
}

.jfx-text-area .content:disabled {
    -fx-opacity:1;
    -fx-background-color: -fx-base-color-text-area;
}

.glyph-icon{
    -fx-fill: -fx-base-color-glyph;
    -glyph-size: 40px;
    -fx-text-alignment: center;
    -fx-line-spacing: 10;
}

.glyph-icon:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0);
    -fx-fill: -fx-base-color-glyph-hover;
}

.h-box{
    -fx-opacity: 0.6;
    -fx-background-color: -fx-base-color-hb;
}

.campo-butaca{
    -fx-fill: -fx-base-color-campo-butaca;
    -glyph-size: 40px;
    -fx-text-alignment: center;
    -fx-line-spacing: 10; 
}

.campo-butaca:hover{
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.2), 4, 0, 0, 0);
    -fx-fill: -fx-base-color-campo-butaca-hover;
}

.campo-butaca-sel{
    -glyph-size: 40px;
    -fx-text-alignment: center;
    -fx-line-spacing: 10;
    -fx-fill: -fx-base-color-campo-butaca-sel;
}

.campo-butaca-ocupada{
    -glyph-size: 40px;
    -fx-fill: -fx-base-color-campo-butaca-oc;
}